* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1{
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
    color: #fafafa;
}

h2{
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    margin-bottom: 15vh;
}

body{
    background-color: rgb(38, 38, 43);
    min-height: 80vh;
    margin-bottom: 15vh;
}

main{
    min-height: 70vh;
}

.button{
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #7289da;
    padding: 7px;
    width: 15rem;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #91a9fd;
    color: black;
}
.buttonSmall{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    background-color: #43B581;
    padding: 5px;
    width: 10rem;
    border: none;
    border-radius: 5px;
}


/* Homepage */
.homepage{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    color: #fafafa;
}
.homepage h1{
    width: 70vw;
}
.homepage h2{
    width: 70vw;
    text-align: center;
}

/* form */
.form{
    margin: auto;
    text-align: center;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.form p{
    margin: 1em auto auto;
    color: rgba(255,255,255,.6);
}

.form a{
    margin: .5em auto auto;
    background: none;
    border: 1px solid #fafafa;
    font-size: 1em;
    width: 30vw;
}

.form form{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fafafa;
}
.form form label{
    width: 70vw;
    margin: auto;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}
.form form input{
    font-size: 1.3em;
    border-radius: 5px;
    width: 70vw;
    margin: auto auto 1em;
}

.form form select{
    font-size: 1em;
    padding: .3em;
    border-radius: 5px;
    width: 70vw;
    margin: auto auto 1em;
}


.form form input[type='submit']{
    margin-top: 1em;
    width: 40vw;
}

/* Register */
.register{
    border: none !important;
}

/* Profile */
.profile{
    height: 80vh;
}
.profilePicture{
    width: 100vw;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.profilePictureGradient{
    width: 100vw;
    height: 5em;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(38, 38, 43, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}
.profileName{
    position: relative;
    height: 3em;
    width: 100vw;
    margin-top: -3em;
}
.profileName h1{
    display: block;
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 50%;
    margin: auto;
}

.profileContent{
    margin-top: 1em;
    color: white;
}
.profileContent div{
    margin: 1em;
}
.profileContent h2{
    margin: 0;
    color: white;
}
.profileContent p, .profileContent li{
    color: white;
    opacity: 0.6;
    list-style-type: none;
}
.profileContent form{
    margin-left: 1em;
}

.profileContent a{
    margin-left: 1em;
}


/* matches */
.person{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto auto 2em;
}
.person a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.person div:first-child{
    width: 100%;
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
.personContent{
    position: relative;
    z-index: 2;
    margin-top: -1em;
    background-color: #7289da;
    height: auto;
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
}
.personContent h2{
    margin: 0;
}

/* Header */
header{
    min-height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}
header img{
    width: 2em;
    height: 2em;
}
header a:last-of-type{
    align-self: center;
    color: white;
    text-decoration: none;
    transition: all .5s;
    padding: 6px;

}
header a:last-of-type:hover{
    background-color: #7289da;
    border-radius: 5px;
}


/* Footer */
footer{
    width: 100vw;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
}
.footerHome{
    margin: 0;
    padding: 0;
}
.footerHome svg{
    margin-bottom: -1em;
}
.footerHome__content{
    height: 5em;
    margin: 0;
    padding: 0;
    background-color: #7289da;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fafafa;
}

.footerHome p{
    margin: auto;
}

.footerHome a{
    background-color: #fafafa;
    color: #43b581;
    margin: auto;
}

.footerContent{
    margin-top: 13vh;
    display: none;
}
.footerContentMobile {
    margin-top: -1em;
    height: 12vh;
    display: block;
}
.footerContentMobile ul a{
    text-decoration: none;
    color: white;
}
.footerContentMobile ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.footerContentMobile li{
    text-align: center;
    margin-top: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #7289da;
}
.footerContentMobile li svg{
    display: block;
    width: 2rem;
    height: 2rem;
    margin: auto;
}
.footerContentMobile li:hover {
    background-color: #5666ac;
}
.footerContentMobile li:first-of-type{
    border-top-left-radius: 5px;
}
.footerContentMobile li:last-of-type{
    border-top-right-radius: 5px;
}

@media screen and (min-width: 600px) {
    .footerContentMobile{
        display: none;
    }
    .footerContent {
        background-color: #7289da;
        margin-top: -1em;
        height: 15vh;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerContent p {
        color: rgba(255, 255, 255, 0.6);
    }

    .footerContent input {
        font-size: .8rem;
        width: 10em;
        background: none;
        border: 1px solid white;
    }
    footer svg {
        display: block;
    }

    .footerContent input:hover {
        background-color: #43b581;
        border: 1px solid #7289da;
    }
}