<% include ../head.ejs %>
<main class="findMatches">
    <h1>Find your player 2</h1>
    <div>
        <% users.forEach(function(user){ %>
            <%- include('../profilePreview', {user: user}); %>
        <%}); %>
    </div>
</main>

<% include ../footer.ejs %>