<% include ../head.ejs %>
<main class="findMatches">
    <h1>Find your player 2</h1>
    <div>
        <%if (matches){%>
            <h2>Your matches</h2>
        <%
            matches.forEach(function (match) {
                if (match._id != user.userID){%>
                  <%-  include('../profilePreview', {user: match});%>
                <% }})}
            else{
                %>
                <h2>All the users</h2>
                <%
                allUsers.forEach(function (user) {
                if (user._id != user.userID){%>
                <%-  include('../profilePreview', {user: user});%>
            <% }})} %>

            <h2>All the users</h2>
            <%
            allUsers.forEach(function (user) {
            if (user._id != user.userID){%>
                <%-  include('../profilePreview', {user: user});%>
<% }})%>
    </div>
</main>

<% include ../footer.ejs %>