<% include ../head.ejs %>
<main class="findMatches">
    <h1>Find your player 2</h1>
    <div>
        <% profiles.forEach(function(profile){ %>
            <% if (profile._id != user.userID) {%>
            <%- include('../profilePreview', {user: profile}); %>
        <%}}); %>
    </div>
</main>

<% include ../footer.ejs %>