<% include ../head.ejs %>
<% include ../header.ejs %>
<main class="homepage">
    <h1>Get ready to find your player 2</h1>
    <h2>Friends and Foes is a dating app by and for gamers. You will match with other persons by the games you play the most.</h2>
    <a class="button" href="/register">Start looking</a>
</main>
