<% include ../head.ejs %>
<% include ../header.ejs %>
<main class="form">
    <h1>Login</h1>
    <form method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />

        <input class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account?</p>
    <a class="button" href="/register">Register</a>
</main>
