<% include ../head.ejs %>
<% include ../header.ejs %>
<main class="form">
    <h1>Register an account</h1>
    <form method="POST" class="register" enctype="multipart/form-data">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required/>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="gamer">Gamer (Other)</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="age">Birth date:</label>
        <input type="date" id="age" name="age" required/>

        <label for="profilePicture">Profile picture:</label>
        <input type="file" id="profilePicture" name="profilePicture" accept="image/*" required/>

        <label for="bio">Bio:</label>
        <textarea name="bio" id="bio" cols="30" rows="5"></textarea>

        <label for="wantGender">I am looking for a:</label>
        <select id="wantGender" name="wantGender" required>
            <option value="gamer">Gamer (Other)</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="games1">Favorite games</label>
        <select id="games1" name="games1" required>
            <option value="Red dead redemtion">Red dead redemtion 2</option>
            <option value="league of legends">League of legends</option>
            <option value="Rocket league">rocket league</option>
        </select>
        <select id="games2" name="games2" required>
            <option value="Red dead redemtion">Red dead redemtion 2</option>
            <option value="league of legends">League of legends</option>
            <option value="Rocket league">rocket league</option>
        </select>
        <select id="games3" name="games3" required>
            <option value="Red dead redemtion">Red dead redemtion 2</option>
            <option value="league of legends">League of legends</option>
            <option value="Rocket league">rocket league</option>
        </select>

        <input class="button" type="submit" value="Register">
    </form>
</main>
