<% include ../head.ejs %>
<% include ../header.ejs %>
<main class="form">
    <h1>Weet je het zeker?</h1>
    <form method="post">
        <input class="button" type="submit" id="button" value="Remove">
    </form>
</main>
