<script src=/index.js></script>
<footer>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 190.2 23.5" style="enable-background:new 0 0 190.2 23.5;" xml:space="preserve">
<style type="text/css">
    .st0{fill:url(#SVGID_2_);}
</style>
        <title>Asset 1</title>
        <g>
            <g id="Layer_1-2">

                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="95.1" y1="26.05" x2="95.1" y2="2.5" gradientTransform="matrix(1 0 0 -1 0 26)">
                    <stop  offset="0" style="stop-color:#26262B;stop-opacity:0.25"/>
                    <stop  offset="1.000000e-02" style="stop-color:#292931;stop-opacity:0.28"/>
                    <stop  offset="0.1" style="stop-color:#3A4058;stop-opacity:0.44"/>
                    <stop  offset="0.2" style="stop-color:#49537B;stop-opacity:0.59"/>
                    <stop  offset="0.3" style="stop-color:#566499;stop-opacity:0.72"/>
                    <stop  offset="0.41" style="stop-color:#6071B0;stop-opacity:0.82"/>
                    <stop  offset="0.52" style="stop-color:#687CC3;stop-opacity:0.9"/>
                    <stop  offset="0.65" style="stop-color:#6E83D0;stop-opacity:0.96"/>
                    <stop  offset="0.79" style="stop-color:#7188D8;stop-opacity:0.99"/>
                    <stop  offset="1" style="stop-color:#7289DA"/>
                </linearGradient>
                <path class="st0" d="M190.2,14.3v9.2H0v-9.2c20.1,0,27.1-14.4,55-14.4s34.8,14.4,56.5,14.4c14.2,0,19.1-14.4,38.8-14.4
			S174.9,14.3,190.2,14.3z"/>
            </g>
        </g>
</svg>
    <div class="footerContent">
        <p>Help us improve by adding a game to our list</p>
        <input class="button" type="button" value="Add game">
    </div>
</footer>