<% include head.ejs %>
<title>Friends and Foes</title>
<form action=/ method=post>
    <legend>I am a</legend>
    <input type="radio" name="gender" id="amWomen" value="Women">
    <label for="amWomen">Women</label>

    <input type="radio" name="gender" id="amMan" value="Man">
    <label for="amMan">Man</label>

    <input type="radio" name="gender" id="amGamer" value="Gamer">
    <label for="amGamer">Gamer</label>


    <legend>I am looking for a</legend>

    <input type="radio" name="lookingForManWomen" id="lookingMan" value="Man">
    <label for="lookingMan">Man</label>

    <input type="radio" name="lookingForManWomen" id="lookingWomen" value="Women">
    <label for="lookingWomen">Women</label>

    <input type="radio" name="lookingForManWomen" id="lookingGamer" value="Gamer">
    <label for="lookingGamer">Gamer</label>

    <input type="submit" value="Find your player 2">
</form>
<% include tail.ejs %>