<% include head.ejs %>
<title>Genres</title>
<h1>Genres</h1>
<%
for (var index = 0; index < data.length; index++) { %>
    <h2><a href="/<%= data[index].id %>"><%= data[index].title %></a></h2>
    <p><%= data[index].members %></p>
    <p><%= data[index].description %></p>
<% } %>
<% include tail.ejs %>
