<% include head.ejs %>
<title>Not found - My movie website</title>
<h1>Oops.. This page was stolen by Roshan</h1>
<p>P.S. The page you where looking for doesn't exist</p>
<a href="/">Go back home</a>
<% include footer.ejs %>
