<article class="person">
  <a href="">
    <img src="assets/images/profile.jpg" alt="Person image">
    <div class="personContent">
      <h2>Name, age</h2>
      <p>Favorite game: League of legends</p>
    </div>
  </a>
</article>
